<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Explore BD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="form-inline my-2 my-sm-0" method="GET" action="{% url 'search' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" value="{{ request.GET.search }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_profile' user.id %}">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_timeline' %}">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-auto" href="{% url 'signup' %}">Signup</a>
          </li>
        {% endif %}
      </ul>
    </div>
    
</nav>

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-danger" role="alert">
      {{ msg|safe }}
    </div>
  {% endfor %}
{% endif %}