<div class="abc">
	<h1 class="display-4 white-text">Hello, Explorers!</h1>
	<p class="lead white-text">Explore BD is a common place for travelers from Bangladesh. Share your travelling experience with others, promote places that you like to share with peoples all over the country, make your tour plan and help others to make their, find new destinations to explore and many more.</p>
	<hr class="my-4">
	<div class="card-deck mx-3">
		<div class="card border-light mb-3 abc">
			<div class="card-body white-text">
				<p class="white-text">Sign up and start exploring and share your adventuraous experience with others</p>
			</div>
			<div class="card-footer">
				<a href="{% url 'signup' %}" class="btn btn-primary">Signup</a>
			</div>	
		</div>
		<div class="card border-light mb-3 abc">
			<div class="card-body white-text">
				<p class="white-text">Already have an account then login and continue exploring</p>
			</div>
			<div class="card-footer">
				<a href="{% url 'login' %}" class="btn btn-success">Login</a>
			</div>
		</div>
	</div>
	<div class="alert alert-info">
		<h3 class="text-center">Happy Exploring</h3>
	</div>
</div>