<div class="abc">
	<h1 class="display-4 white-text">Welcome {{ user.username }}</h1>
	<p class="lead white-text">Explore BD is a common place for travelers from Bangladesh. Share your travelling experience with others, promote places that you like to share with peoples all over the country, make your tour plan and help others to make their, find new destinations to explore and many more.</p>
	<hr class="my-4">
	<div class="card-deck mx-2">
		<div class="card border-light mb-3 abc">
			<div class="card-body white-text">
				<p class="white-text">See your activities in timeline view, make new post and many more..</p>
			</div>
			<div class="card-footer">
			<a href="{% url 'user_timeline' user.id %}" class="btn btn-success">Visit Timeline</a>
			</div>	
		</div>
		<div class="card border-light mb-3 abc">
			<div class="card-body white-text">
				<p class="white-text">News feed, watch what people around you is doing and sharing.. </p>
			</div>
			<div class="card-footer">
				<a href="{% url 'news_feed' %}" class="btn btn-info">News Feed</a>
			</div>	
		</div>
		<div class="card border-light mb-3 abc">
			<div class="card-body white-text">
				<p class="white-text">New places are like treasures to the explorers. See trending places, foods and many more around you</p>
			</div>
			<div class="card-footer">
				<a href="{% url 'trending' %}" class="btn btn-success">Trending</a>
			</div>	
		</div>
	</div>
	<div class="alert alert-info">
		<h3 class="text-center">Happy Exploring</h3>
	</div>
</div>