<div class="abc">
	<h1 class="display-4 white-text">Hello, Explorers!</h1>
	<p class="lead white-text">Explore BD is a common place for travelers from Bangladesh. Share your travelling experience with others, promote places that you like to share with peoples all over the country, make your tour plan and help others to make their, find new destinations to explore and many more.</p>
	<hr class="my-4">
	<p class="text-right white-text">New in this page then <a class="btn btn-primary" href="{% url 'signup' %}" role="button">Sign Up</a> here.</p>
	<p class="text-right white-text">Already have an account then <a class="btn btn-success" href="{% url 'login' %}" role="button">Login</a> here.</p>
	<div class="alert alert-info">
		<h3 class="text-center">Happy Exploring</h3>
	</div>
</div>