<div class="abc">
	<h1 class="display-4 white-text">Hello, {{ user.username }}</h1>
	<p class="lead white-text">Explore BD is a common place for travelers from Bangladesh. Share your travelling experience with others, promote places that you like to share with peoples all over the country, make your tour plan and help others to make their, find new destinations to explore and many more.</p>
	<hr class="my-4">
	<p class="text-right white-text">View your Profile <a class="btn btn-primary" href="{% url 'view_profile' user.id %}" role="button">View Profile</a> here.</p>
	<p class="text-right white-text">Share new experience <a class="btn btn-success" href="{% url 'create_post' %}" role="button">Make Post</a> here.</p>
	<div class="alert alert-info">
		<h3 class="text-center">Happy Exploring</h3>
	</div>
</div>