{% extends 'explorepost/base.html' %}
{% load static %}
{% block title %}
	<title>User post</title>
	<style type="text/css">
        .bl-bg{
            background-color: rgb(0, 0, 0, 1);
        }
        .wh-bg{
            background-color: rgb(255, 255, 255, 1);
        }
        .white-text{
            color: rgb(255, 255, 255, 1);
        }
        .blue-text{
        	color: rgb(0, 0, 255, 1);
        }
        .black-text{
        	color: rgb(0, 0, 0, 1);
        }
        .row{
        	display: flex;
        	flex-wrap: wrap;
        	padding: 0 4px;
        }

        .coloum{
        	flex: 50%;
        	max-width: 50%;
        	padding: 0 4px;
        }

        .coloum img{
        	margin-top: 8px;
        	vertical-align: middle;
        	width: 100%;
        }
        
    </style>
{% endblock %}

{% block content %}
{% include 'exploreuser/component/navbar.html' %}
<div class="jumborton jumborton-fluid bl-bg white-text">
	<div class="container">
		<h3 class="display-5">Post By</h3>
		<div class="media">
			{% if post.user.profile.photo %}
				<img src="{{ post.user.profile.photo.url }}" class="mr-3" width="65" height="65">
			{% else %}
				<img src="{% static 'exploreuser/allprofile.jpeg' %}" class="mr-3" width="65" height="65">
			{% endif %}
			<div class="media-body">
				<h4 class="mt-0">{{ post.user.full_name }}</h4>
				<h5 class="mt-0">@{{ post.user.username }}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-8">

				<div class="card bl-bg py-5"> 
					<h4 class="card-haeder">Post Contents</h4>
					<div class="card-body">
						<h6 class="card-text blue-text">
							{% for tag in tags %}
								{% if tag %}
									#{{tag.tag}}
								{% endif %}
							{% endfor %}
						</h6>
						<h3 class="card-title">{{ post.title }}</h3>
						<h6 class="card-text text-right">{{ post.timestamp }}</h6>
						<h6 class="card-text text-left">{{ views }} views</h6>
						{% if request.user.id == post.user.id %}
							<a href="{% url 'deletepost' post.id %}">Delete this post</a>
						{% endif %}
					</div>
				</div>

				
				<div class="row">
					{% for image in images %}
					<div class="coloum">
						<img src="{{ image.image.url }}">
					</div>

						{% if forloop.counter|divisibleby:"2" and not forloop.last %}
							</div><div class=row>
						{% endif %}
					{% endfor %}
				</div>
		


				<div class="card wh-bg p-3 my-2">
					<div class="card-body black-text">
						<p>{{ post.describtion }}</p>
					</div>
				</div>
				<div class="card bl-bg">
					<div class="card-header">
						<h6>Avgerage User rating of this Post is</h6>
						<h4>{{ avg_rating }}</h4>
					</div>
					<div class="card-body">
						<div class="form-group">
							{% if user_rating is not None %}
								<h6>You already rated this post {{ user_rating }}.But you can change your dicision anytime.</h6>
							{% endif %}
							<form method="post" action="{% url 'postrate'  post.pk  %}?next={{ request.path }}">
								{% csrf_token %}
								<fieldset id="rating">
									<input type="radio" value="1" name="rating">Disgusting<br>
									<input type="radio" value="2"  name="rating">Not Helpful<br>
									<input type="radio" value="3"  name="rating">Not So Informative<br>
									<input type="radio" value="4"  name="rating">Informative<br>
									<input type="radio" value="5"  name="rating">Very Helpful<br>
								</fieldset>
								<button type="submit"  class="btn btn-info">Rate</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-4">
				<div class="card bl-bg py-5">
					<h3 class="card-header text-left white-text">Comments</h3>
					<nav class="navbar navbar-dark ">
						<form class="form-inline" method="POST">
							{% csrf_token %}
							<input class="form-control mr-sm-2" type="text" name="comment" placeholder="Add Comment" aria-label="comment">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
						</form>
					</nav>
					<div class="card-body">
					{% for comment in comments %}
						<div class="media border-bottom border-white py-3 px-2 my-1">
							{% if comment.user.profile.photo %} 
							<img src="{{ comment.user.profile.photo.url }}" class="align-self-center mr-3" width=50 height=50>
							{% else %}
							<img src="{% static 'exploreuser/allprofile.jpeg' %}" class="align-self-center mr-3" width=50 height=50>
							{% endif %}
							<div class="media-body white-text">
								<h6 class="mt-0">{{ comment.user.username }} &#9899; {{ comment.diff_time }}</h6>
								{{ comment.text }}
							</div>
						</div>
					{% empty %}
						<p class="black-text">No comments on this post</p>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script type="text/javascript">
function hitcount(){
	$.ajax({
		url: '{% url "post_hit" %}',
		data: {
			'user': '{{ request.user.id }}',
			'post': '{{ post.id }}',
		},
		datatype: 'json',
		success : function(data){
			window.location = data.redirect_url;
		}
	});
}

$(document).ready(function(){
	setInterval(hitcount, 30000);
});
</script>
{% endblock %}